# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IdeaProjects\Code Sharing Platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/frameworkLessonHistory/storage.storageData
/frameworkLessonHistory/storage.storageRecordIndex
/libraries/Gradle__antlr_antlr_2_7_7.xml
/libraries/Gradle__ch_qos_logback_logback_classic_1_2_3.xml
/libraries/Gradle__ch_qos_logback_logback_core_1_2_3.xml
/libraries/Gradle__com_cedarsoftware_json_io_4_10_1.xml
/libraries/Gradle__com_fasterxml_classmate_1_5_1.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_11_0.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_11_2.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_11_0.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_11_2.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_11_0.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_11_2.xml
/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_0.xml
/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_2.xml
/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_0.xml
/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_2.xml
/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_0.xml
/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_2.xml
/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/libraries/Gradle__com_github_hyperskill_hs_test_v7_1.xml
/libraries/Gradle__com_github_stefanbirkner_system_rules_1_19_0.xml
/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/libraries/Gradle__com_h2database_h2_1_4_200.xml
/libraries/Gradle__com_sun_activation_jakarta_activation_1_2_2.xml
/libraries/Gradle__com_sun_istack_istack_commons_runtime_3_0_11.xml
/libraries/Gradle__com_zaxxer_HikariCP_3_4_5.xml
/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/libraries/Gradle__commons_codec_commons_codec_1_14.xml
/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/libraries/Gradle__io_micrometer_micrometer_core_1_5_1.xml
/libraries/Gradle__io_micrometer_micrometer_core_1_5_4.xml
/libraries/Gradle__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/libraries/Gradle__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/libraries/Gradle__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/libraries/Gradle__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/libraries/Gradle__junit_junit_4_12.xml
/libraries/Gradle__net_bytebuddy_byte_buddy_1_10_14.xml
/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_13.xml
/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_13_3.xml
/libraries/Gradle__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_9_0_36.xml
/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_9_0_37.xml
/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_36.xml
/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_37.xml
/libraries/Gradle__org_aspectj_aspectjweaver_1_9_6.xml
/libraries/Gradle__org_assertj_assertj_core_3_8_0.xml
/libraries/Gradle__org_assertj_assertj_core_3_16_1.xml
/libraries/Gradle__org_assertj_assertj_swing_3_8_0.xml
/libraries/Gradle__org_assertj_assertj_swing_junit_3_8_0.xml
/libraries/Gradle__org_dom4j_dom4j_2_1_3.xml
/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/libraries/Gradle__org_freemarker_freemarker_2_3_30.xml
/libraries/Gradle__org_glassfish_jakarta_el_3_0_3.xml
/libraries/Gradle__org_glassfish_jaxb_jaxb_runtime_2_3_3.xml
/libraries/Gradle__org_glassfish_jaxb_txw2_2_3_3.xml
/libraries/Gradle__org_hamcrest_hamcrest_2_2.xml
/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Gradle__org_hamcrest_hamcrest_core_2_2.xml
/libraries/Gradle__org_hdrhistogram_HdrHistogram_2_1_12.xml
/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
/libraries/Gradle__org_hibernate_hibernate_core_5_4_20_Final.xml
/libraries/Gradle__org_javassist_javassist_3_24_0_GA.xml
/libraries/Gradle__org_jboss_jandex_2_1_3_Final.xml
/libraries/Gradle__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/libraries/Gradle__org_jsoup_jsoup_1_13_1.xml
/libraries/Gradle__org_latencyutils_LatencyUtils_2_0_3.xml
/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_30.xml
/libraries/Gradle__org_slf4j_slf4j_api_1_7_30.xml
/libraries/Gradle__org_springframework_boot_spring_boot_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_actuator_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_actuator_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_actuator_autoconfigure_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_actuator_autoconfigure_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_freemarker_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_json_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_json_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_2_3_1_RELEASE.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_data_spring_data_commons_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_data_spring_data_jpa_2_3_3_RELEASE.xml
/libraries/Gradle__org_springframework_spring_aop_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_aop_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_aspects_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_beans_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_beans_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_context_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_context_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_context_support_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_core_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_core_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_expression_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_expression_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_jcl_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_jcl_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_jdbc_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_orm_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_tx_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_web_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_web_5_2_8_RELEASE.xml
/libraries/Gradle__org_springframework_spring_webmvc_5_2_7_RELEASE.xml
/libraries/Gradle__org_springframework_spring_webmvc_5_2_8_RELEASE.xml
/libraries/Gradle__org_yaml_snakeyaml_1_26.xml
/modules/Code Sharing Platform/task/Code_Sharing_Platform.Code_Sharing_Platform-task.iml
/modules/Code Sharing Platform/task/Code_Sharing_Platform.Code_Sharing_Platform-task.main.iml
/modules/Code Sharing Platform/task/Code_Sharing_Platform.Code_Sharing_Platform-task.test.iml
/modules/Problems/Accounts/Code_Sharing_Platform.Problems-Accounts.iml
/modules/Problems/Accounts/Code_Sharing_Platform.Problems-Accounts.main.iml
/modules/Problems/Accounts/Code_Sharing_Platform.Problems-Accounts.test.iml
/modules/Problems/Add new default method/Code_Sharing_Platform.Problems-Add_new_default_method.iml
/modules/Problems/Add new default method/Code_Sharing_Platform.Problems-Add_new_default_method.main.iml
/modules/Problems/Add new default method/Code_Sharing_Platform.Problems-Add_new_default_method.test.iml
/modules/Problems/Adding N minutes/Code_Sharing_Platform.Problems-Adding_N_minutes.iml
/modules/Problems/Adding N minutes/Code_Sharing_Platform.Problems-Adding_N_minutes.main.iml
/modules/Problems/Adding N minutes/Code_Sharing_Platform.Problems-Adding_N_minutes.test.iml
/modules/Problems/An infinite numbers supplier/Code_Sharing_Platform.Problems-An_infinite_numbers_supplier.iml
/modules/Problems/An infinite numbers supplier/Code_Sharing_Platform.Problems-An_infinite_numbers_supplier.main.iml
/modules/Problems/An infinite numbers supplier/Code_Sharing_Platform.Problems-An_infinite_numbers_supplier.test.iml
/modules/Problems/calculator/Code_Sharing_Platform.Problems-calculator.iml
/modules/Problems/calculator/Code_Sharing_Platform.Problems-calculator.main.iml
/modules/Problems/calculator/Code_Sharing_Platform.Problems-calculator.test.iml
/modules/Problems/Convert numbers to days/Code_Sharing_Platform.Problems-Convert_numbers_to_days.iml
/modules/Problems/Convert numbers to days/Code_Sharing_Platform.Problems-Convert_numbers_to_days.main.iml
/modules/Problems/Convert numbers to days/Code_Sharing_Platform.Problems-Convert_numbers_to_days.test.iml
/modules/Problems/Find all mondays/Code_Sharing_Platform.Problems-Find_all_mondays.iml
/modules/Problems/Find all mondays/Code_Sharing_Platform.Problems-Find_all_mondays.main.iml
/modules/Problems/Find all mondays/Code_Sharing_Platform.Problems-Find_all_mondays.test.iml
/modules/Problems/Return time without seconds/Code_Sharing_Platform.Problems-Return_time_without_seconds.iml
/modules/Problems/Return time without seconds/Code_Sharing_Platform.Problems-Return_time_without_seconds.main.iml
/modules/Problems/Return time without seconds/Code_Sharing_Platform.Problems-Return_time_without_seconds.test.iml
/modules/Problems/Seconds between two time points/Code_Sharing_Platform.Problems-Seconds_between_two_time_points.iml
/modules/Problems/Seconds between two time points/Code_Sharing_Platform.Problems-Seconds_between_two_time_points.main.iml
/modules/Problems/Seconds between two time points/Code_Sharing_Platform.Problems-Seconds_between_two_time_points.test.iml
/modules/Problems/Some hours and minutes ago/Code_Sharing_Platform.Problems-Some_hours_and_minutes_ago.iml
/modules/Problems/Some hours and minutes ago/Code_Sharing_Platform.Problems-Some_hours_and_minutes_ago.main.iml
/modules/Problems/Some hours and minutes ago/Code_Sharing_Platform.Problems-Some_hours_and_minutes_ago.test.iml
/modules/Problems/String reverser/Code_Sharing_Platform.Problems-String_reverser.iml
/modules/Problems/String reverser/Code_Sharing_Platform.Problems-String_reverser.main.iml
/modules/Problems/String reverser/Code_Sharing_Platform.Problems-String_reverser.test.iml
/modules/Problems/Subtracting hours and adding minutes/Code_Sharing_Platform.Problems-Subtracting_hours_and_adding_minutes.iml
/modules/Problems/Subtracting hours and adding minutes/Code_Sharing_Platform.Problems-Subtracting_hours_and_adding_minutes.main.iml
/modules/Problems/Subtracting hours and adding minutes/Code_Sharing_Platform.Problems-Subtracting_hours_and_adding_minutes.test.iml
/modules/Problems/The address book/Code_Sharing_Platform.Problems-The_address_book.iml
/modules/Problems/The address book/Code_Sharing_Platform.Problems-The_address_book.main.iml
/modules/Problems/The address book/Code_Sharing_Platform.Problems-The_address_book.test.iml
/modules/Problems/The last day of a month/Code_Sharing_Platform.Problems-The_last_day_of_a_month.iml
/modules/Problems/The last day of a month/Code_Sharing_Platform.Problems-The_last_day_of_a_month.main.iml
/modules/Problems/The last day of a month/Code_Sharing_Platform.Problems-The_last_day_of_a_month.test.iml
/modules/Problems/Whole hours between two date-time pairs/Code_Sharing_Platform.Problems-Whole_hours_between_two_date-time_pairs.iml
/modules/Problems/Whole hours between two date-time pairs/Code_Sharing_Platform.Problems-Whole_hours_between_two_date-time_pairs.main.iml
/modules/Problems/Whole hours between two date-time pairs/Code_Sharing_Platform.Problems-Whole_hours_between_two_date-time_pairs.test.iml
/modules/util/Code_Sharing_Platform.util.iml
/modules/util/Code_Sharing_Platform.util.main.iml
/modules/util/Code_Sharing_Platform.util.test.iml
/modules/Code_Sharing_Platform.iml
/.gitignore
/.name
/compiler.xml
/gradle.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
